@charset "utf-8";
/* 課題③部分 */
header{
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    align-items: flex-start; 
    /* 要素をFlexboxコンテナの始まり（上）に揃える */
    align-items: center; /* 垂直方向の中央に揃える */
    max-width: 960px;
    margin: 0 auto; 
    padding: 0 10px; /*　両端に余白を追加して、画面端にタイトルがくっつかないようにする */
}

nav ul{
    display: flex;
    padding: 20px 10px;
}

nav ul li{
    font-size: 16px;
    padding: 3px 15px;
    color: #4c4c4c;
    border-right: 1px solid #4c4c4c;
}
nav ul li:last-child{
    border-right: none;
}

/* 課題④部分 */
@media screen and (max-width: 768px) {
header{
    flex-direction:column ;
    align-items: flex-start;  /* 左に揃える */
}
nav{
    width: 100%;
}

nav ul{
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px 0;
}
nav ul li{
    color: #4c4c4c;
    border-bottom: 1px solid #4c4c4c;
    font-size: 14px;
    border-right: none;
    padding: 10px;
}
}


/* 課題①部分 */
.blue-container {
    display: flex;
    flex-direction: row; /* 左から右に配置 */
    justify-content: space-between;
    max-width: 960px;
    margin:0 auto;
    gap: 30px;/* ボックス間の隙間 */
}

.blue-box{
    width: 300px;
    height: 100%;
    background-color: blue;
    color: white;
    margin-bottom: 20px; /* ボックス間の縦方向の隙間 */
    aspect-ratio: 1 / 1;/* 正方形を維持したまま縮小 */
}

/* 課題②部分 */
.red-container {
    display: flex;
    flex-direction: row; /* 左から右に配置 */
    flex-wrap: wrap;/* はみ出す場合に折り返す */
    justify-content: space-between;
    max-width: 960px;
    margin:0 auto;
}

.red-box{
    width: 31.25%;
    height: 100%;
    background-color: red;
    color: white;
    margin-bottom: 20px; /* ボックス間の縦方向の隙間 */
    aspect-ratio: 1 / 1;/* 正方形を維持したまま縮小 */
}
