@charset "utf-8";
/* 課題③部分 */
header{
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    align-items: flex-start; 
    /* 両端をコンテナの端に揃え、その間に残りのスペースを均等に分配 */
    align-items: center; /* 垂直方向の中央に揃える */
    max-width: 960px;
    margin: 0 auto; 
    padding: 0 10px; /*　両端に余白を追加して、画面端にタイトルがくっつかないようにする */
}

.pc_nav ul{
    display: flex;
    gap: 20px;
    padding: 20px 10px;
}

.pc_nav ul li{
    font-size: 10px;
    padding: 3px 15px;
    color: #4c4c4c;
    border-right: 1px solid #4c4c4c;
}
.pc_nav ul li:last-child{
    border-right: none;
}

.sp_nav{
    display: none;
}
/* 課題④部分 */
@media screen and (max-width: 768px) {
.pc_nav{
    display: none;
}
.sp_nav ul{
    display: grid;
    justify-content: flex-end;
    gap: 40px;
}
.sp_nav ul li{
    color: #4c4c4c;
    border-bottom: 1px solid #4c4c4c;
    font-size: 10px;
}
}


/* 課題①部分 */
.blue-container {
    display: flex;
    flex-direction: row; /* 左から右に配置 */
    justify-content: space-between;
    max-width: 960px;
    margin:0 auto;
}

.blue-box{
    width: 300px;
    height: 300px;
    background-color: blue;
    color: white;
    margin-bottom: 20px; /* ボックス間の縦方向の隙間 */
}

/* 課題②部分 */
.red-container {
    display: flex;
    flex-direction: row; /* 左から右に配置 */
    flex-wrap: wrap;/* はみ出す場合に折り返す */
    justify-content: space-between;
    max-width: 960px;
    margin:0 auto;
}

.red-box{
    width: 300px;
    height: 300px;
    background-color: red;
    color: white;
    margin-bottom: 20px; /* ボックス間の縦方向の隙間 */
}
