@charset "utf-8";
/* 追従ボタンの動き */
html{
    scroll-behavior: smooth;
}

/* ヘッダー部分 */
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* 145/1920=0.0755 */
    padding-right: 7.6%;
    /* 56/1920=0.029 */
    padding-left: 2.9%;
    position: absolute;
    width: 100%;
}

.header_nav ul {
    display: flex;
    gap : 75px;
}

.header_nav a {
    color: #fff;
    font-family:  "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;
    font-size : 18px;
}

.logo{
    width : 227px;
    padding-top: 10px;
    padding-left: 10px;
}


.hamburger,
.header_nav-sp{
    display: none;
}

/* SP Ver */
@media screen and (max-width: 1100px) {
    .header_nav{
        display: none;
    }
    .hamburger{
        display: block;
        width: 30px;
        height:30px;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 9999;/* 最大値 */
        cursor: pointer;
    }
    .hamburger span {
        width: 30px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        top: 14px;
        transition: 0.3s;
    }
 /* 擬似要素 */
.hamburger span::before{
        content: ""; /* 要素として認識させるコード */
        width: 30px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        top: -14px;
        transition: 0.3s;
    }
    .hamburger span::after{
        content: ""; /* 要素として認識させるコード */
        width: 30px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        bottom: -14px;
        transition: 0.3s;
    }
    .open span{
        background-color: transparent;
    }
    .open span::before{
        transform: rotate(45deg);
        top:0; /*元々同じ位置にあったものをさっきずらしたのを戻した */
    }

    .open span::after{
        transform: rotate(-45deg);
        bottom:0;
    }
    .header_nav-sp{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #000000bb;
}
.header_nav-sp ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.header_nav-sp li{
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
}
}


/* メイン部分 */
body{
    background-color: #e8d9bf;
}

.padding{
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
}

.headline{
    padding-top: 106px ;
    text-align: center; 
}

.head_first{
    font-size: 30px;
    padding-bottom: 62px;
}

h2{
    font-size: 82px;
    line-height: 1.17;
    letter-spacing: 0.1em;/* 文字間 */
}

.head_second {
    font-size: 23px;
    line-height: 1.65;
    letter-spacing: 0.1em;
    padding-top: 53px;
}

.head_second-sp{
    display: none;
}

/* SP Ver */
@media screen and (max-width: 1100px) {
h2{
    font-size: 70px;
    line-height: 1.17;
    letter-spacing: 0.1em;
    }

.head_second {
    font-size: 20px;
    line-height: 1.65;
    letter-spacing: 0.1em;
    padding-top: 53px;
}
}
@media screen and (max-width: 768px) {
.padding{
    max-width: 768px;
    padding: 0 10px;
    margin: 0 auto;
}
.headline{
    padding-top: 42px ;
    text-align: center; 
}

.head_first{
    font-size: 17px;
    padding-bottom: 34px;
}

h2{
    font-size: 38px;
    line-height: 1.16;
    letter-spacing: 0.2em;/* 文字間 */
}

.head_second-sp {
    display: block;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.1em;
    padding-top: 30px;
}
.head_second{
    display: none;
}

}

/* about us */
.about_us{
    display: flex;
    padding-bottom: 106px;
    padding-top: 100px;
    align-items: center;
}

.heading_h2 img{
    height: 77px;
    width: auto;
}


.about_us .heading_h2 {
    text-align: left;/* about_usの見出しだけ左揃えに戻す */
}

.about_us_image{
    border-radius: 0px 0px 80px;
    width: 50%; /* 幅を500pxに固定 */
    height: 560px; /* 高さを560pxに固定 */
    object-fit: cover; /* 縦横比を維持したまま、指定サイズに合わせて画像を切り取る */
}

.about_us_font{
    padding-bottom: 63px;
}

.about_us_inner{
    padding-left: 81px ;
}

h3{
    font-size: 44px;
    padding-bottom: 40px;
    line-height: 1.38;
}

.about_us p{
    font-size: 16px;
    line-height: 1.62;
}

.about_us-sp{
    display: none;
}

/* SP Ver */
@media screen and (max-width: 1100px) {
h3{
    font-size: 35px;
    padding-bottom: 40px;
    line-height: 1.38;
}
}

@media screen and (max-width: 768px) {
.about_us{
    display: none;
}

.about_us-sp{
    display: block;
    padding-bottom: 57px;
    padding-top: 68px;
    display: flex;
    flex-direction: column; /* flexboxで縦並びにするため追加 */
    align-items: center; /* 子要素を中央揃えにするため追加 */
    justify-content: center;
}

.heading_h2 img{
    height: 45px;
    width: auto;
}

.about_us_image{
    border-radius: 0px 0px 0px;
    width: 100%; 
    height: auto; 
    object-fit: cover; /* 縦横比を維持したまま、指定サイズに合わせて画像を切り取る */
     /* 左右の10pxのパディングを打ち消し、フル幅にする */
    width: calc(100% + 20px); 
    /*↓の対応で、画像の領域が広がるため、width: 100%だけでは足りない！ 100% + 左右のパディング合計20px */
    margin-left: -10px;       /* 左のパディング10pxを打ち消す */
    margin-right: -10px;      /* 右のパディング10pxを打ち消す */

}

.about_us_font{
    padding-bottom: 15px;
}

.about_us_inner{
    display: flex; /* flexboxで縦並びにするため追加 */
    flex-direction: column; /* flexboxで縦並びにするため追加 */
    padding: 0 0px;
}

h3{
    font-size: 36px;
    padding-top: 33px;
    padding-bottom: 32px;
    line-height: 1.25;
    text-align: left
}

.about_us p{
    font-size: 16px;
    line-height: 1.75;
}
}

/* menu */
.heading_h2 {
    text-align: center;

}
.menu_font{
    padding-bottom: 46px;
}

.menu_image{
    display: flex;
    justify-content: center;
    gap: 48px;
}

.menu_inner ul li img{
    border-radius: 0px 80px 0px 0px;
}

.menu_item_content {
    position: relative; /* .overlay_textの基準にする */
}

.overlay_text{
    position: absolute; /* 上に浮かす */
    bottom: -21.5px; /* 画像の下からの位置を調整 */
    left: 12.8px; /* 画像の左からの位置を調整 */
    font-size: 38px;
    color: #d30202;
}

.menu_text{
    font-size: 17px;
    padding-top: 43px; /* 画像とテキストの間にスペースを確保 */
    padding-bottom: 95px ;
    line-height: 1.47;
}

@media screen and (max-width: 768px) {
    .menu_image{
    display: flex;
    flex-direction: column; /* flexboxで縦並びにするため追加 */
    align-items: center; /* 子要素を中央揃えにするため追加 */
    justify-content: center;
    gap: 53px;
    padding: 0 36px;
}

    .overlay_text{
    position: absolute; /* 上に浮かす */
    bottom: -22.5px; /* 画像の下からの位置を調整 */
    left: 12.8px; /* 画像の左からの位置を調整 */
    font-size: 40px;
    color: #d30202;
}
    .menu_text{
    font-size: 17px;
    padding-top: 43px; /* 画像とテキストの間にスペースを確保 */
    line-height: 1.47;
    padding-bottom: 0px ;
}
}


/* GALLERY */
.gallery_image{
    display: flex;
    justify-content: center; 
    gap: 0; 
    width: 100%; 
}
.GALLERY_font{
    padding-bottom: 24px ;
}

.gallery_image li {
    width: 20%; /* 5枚の画像を等間隔に配置するために幅を20%にする */
}

.GALLERY_inner{
    padding-bottom: 71px ;
}

@media screen and (max-width: 768px) {
    .GALLERY{
        padding-top: 95px;
    }
}

/* EVENT */
.EVENT{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}
.EVENT_font{
    padding-bottom: 40px ;
}
.EVENT_inner {
    max-width: 1000px;
    margin: 0 auto;
    border: 3.7px solid #4f260b;
    background-color: #fff;
    padding: 44px 0 ;
    margin-bottom: 73px;
}

.EVENT_inner ul li{
    display: flex;
    justify-content: flex-start; /* 子要素を左揃えにする */
    align-items: baseline; /* テキストのベースラインを揃える */
    line-height: 1.95;
    font-size: 23px;
}

.EVENT_inner ul {
    max-width: 680px;
    margin: 0 auto;
}

.date{
    padding-right: 55px;
}

.EVENT_inner ul li a{
    border-bottom: 1px solid #4f260b;
    text-underline-offset: 0px;
}

@media screen and (max-width: 768px) {
    .EVENT{
    max-width: 768px;
    margin: 0 auto;
    padding: 0 10px;
    padding-bottom: 34px;
}
.EVENT_font{
    padding-bottom: 20px ;
}

    .EVENT_inner {
    max-width: 100%;
    margin: 0 5%;
    padding: 20px;
}

.EVENT_inner ul li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 15px;
}


.date {
    padding-right: 0;
}

.EVENT_inner ul li a {
    border-bottom: 1px solid #4f260b;
    font-size: 16px;
    width: 285px;/* 一番長い文章の横幅 */
    white-space: nowrap; /* テキストを折り返さず1行で表示 */
    overflow: hidden; /* はみ出した部分を非表示に */
    text-overflow: ellipsis; /* はみ出したテキストを「...」で省略 */
}
}

/* ACCES */
iframe{
    width: 100%;
    height: 472px;
    filter: grayscale(100%) invert(92%) contrast(83%);
}

.ACCESS_font{
    padding-bottom: 45px;
}

@media screen and (max-width: 768px) {
    iframe{
    width: 100%;
    height: 191px;
    filter: grayscale(100%) invert(92%) contrast(83%);
}

.ACCESS_font{
    padding-bottom: 8px;
}
}


/* フッター部分 */
footer{
    background-color: #fff;
}

.footer{
    display: flex;
    padding: 85px 0;
    max-width: 1000px;
    margin: 0 auto;

}
.footer_logo img{
    height: 51px;
    width: auto;
    margin-right: 65px;
}

.footer_address ul{
    flex-direction: column;
}
.footer_address ul li {
line-height: 1.95;
font-size: 20px;
}

@media screen and (max-width: 768px) {
    footer{
    background-color: #fff;
}
    .footer{
    display: flex;
    flex-direction: column;
    padding: 49px 0;
    max-width: 768px;
    margin: 0 5%;
}
.footer_logo{
    padding-bottom: 33px;
}
}


/* 著作権 */
.copy{
    text-align: center;
    padding-bottom: 78px;
    font-size: 16px;
}

/* 追従 */
.pagetop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 125px;
}

@media screen and (max-width: 768px) {
    .pagetop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
}
}

